@model OrdersViewModel


<div>
    <h2>Management Page</h2>
</div>

<ul class="list-group list-group-horizontal-sm">

    <li class="list-group-item">
        <a class="nav-link text-dark" asp-controller="Customer" asp-action="Index">Customers</a>
    </li>
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-controller="Brand" asp-action="Index">Brands</a>
    </li>
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-controller="Shipper" asp-action="Index">Shippers</a>
    </li>
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-controller="Category" asp-action="Index">Categories</a>
    </li>
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-controller="Product" asp-action="Index">Products</a>
    </li>
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-controller="Role" asp-action="Index">Roles</a>
    </li>
</ul>

<div>
    <h2 class="text-info">Orders</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Total Cost</th>
                <th scope="col">Order Date</th>
                <th scope="col">Status</th>
                <th scope="col">Customer ID</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Order Items</th>
            </tr>
        </thead>
        <tbody>

            @if (Model.Orders.Count != 0)
            {
                @foreach (var order in Model.Orders)
                {
                    <tr>
                        <td>@order.Id</td>
                        <td>@order.TotalCost</td>
                        <td>@order.OrderDate</td>
                        <td>@order.Status</td>
                        <td>@order.CustomerId</td>
                        <td>@order.Customer.FullName</td>
                        <td><p><a class="text-info" asp-controller="Orders" asp-action="Details" asp-route-id="@order.Id">Details</a></p></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>