@model CreateProductViewModel


<div>
    <h3>Add a new product</h3>
    <form asp-controller="Product" asp-action="Create" method="post">
        <fieldset>
            <div>
                <label asp-for="@Model.ProductName"></label>
                <input class="form-input" asp-for="@Model.ProductName" placeholder="Product Name">
                <span asp-validation-for="@Model.ProductName"> </span>
            </div>
            <div>
                <label asp-for="@Model.Description"></label>
                <input class="form-input" asp-for="@Model.Description" placeholder="Description">
                <span asp-validation-for="@Model.Description"> </span>
            </div>
            <div>
                <label asp-for="@Model.Price"></label>
                <input class="form-input" asp-for="@Model.Price" placeholder="0,00">
                <span asp-validation-for="@Model.Price"> </span>
            </div>
            <div>
                <label asp-for="@Model.Discount"></label>
                <input class="form-input" asp-for="@Model.Discount" placeholder="0,00">
                <span asp-validation-for="@Model.Discount"> </span>
            </div>
            <div>
                <label asp-for="@Model.Picture"></label>
                <input class="form-input" asp-for="@Model.Picture">
                <span asp-validation-for="@Model.Picture"> </span>
            </div>
            <div>
                <label asp-for="@Model.Size"></label>
                <input class="form-input" asp-for="@Model.Size" placeholder="Size">
                <span asp-validation-for="@Model.Size"> </span>
            </div>
            <div>
                <label asp-for="@Model.Quantity"></label>
                <input class="form-input" asp-for="@Model.Quantity" placeholder="Quantity">
                <span asp-validation-for="@Model.Quantity"> </span>
            </div>
            <div>
                <label>Select Product Category:</label>
                <select asp-for="@Model.CategoryId" asp-items="@@ViewBag.Categories"></select>
                <span asp-validation-for="@Model.CategoryId"> </span>
            </div>
            <button id="submit" type="submit">Save</button>
        </fieldset>
    </form>
</div>
