@model IEnumerable<Product>

@{
    ViewData["Title"] = "Product Page";
}

<h1>All Products to Buy</h1>

<div class="row row-cols-1 row-cols-md-4 mb-3 text-center">
    @foreach(var aProduct in Model)
    {
        <div class="col">
            <div class="card h-100">
                <div class="card-header">
                    <h5><a asp-controller="Product" asp-action="Details" asp-route-id="@aProduct.Id" class="text-decoration-none">@aProduct.Name @aProduct.Size</a></h5>
                    <img class="card-img-top" src="../images/@aProduct.Picture" alt="Card image cap" />
                </div>
                
                <div class="card-body ">                    
                    @if (aProduct.Description.Length <=85)
                    {
                        <p>@aProduct.Description</p>
                    }
                    else
                    {
                        <p>@aProduct.Description.Substring(0, 85)...</p>
                    }                                                            
                </div>   


                <div class="card-footer">
                    <h5>@aProduct.UnitPrice.ToString("c")</h5>
                    <a class="btn btn-primary" asp-controller="Home" asp-action="AddToShoppingCart" asp-route-Id="@aProduct.Id"> + Add to cart</a>
                </div>
            </div>
        </div>
    }
</div>
